<div class="site-menubar-header cover">
  <div class="cover-background vertical-align" style="background-image: url('{{assets}}//examples/images/menubar-header.jpg')">
    <div class="vertical-align-middle">
      <a class="avatar avatar-lg" href="javascript:void(0)">
        <img src="{{global}}/portraits/1.jpg" alt="Machi">
      </a>
      <div class="site-menubar-info">
        <h5 class="site-menubar-user">Machi</h5>
        <p class="site-menubar-email">machidesign@gmail.com</p>
      </div>
    </div>
  </div>
</div>